@import "mixins";
@import "variables";

.additional-links {
    padding-top: 20px;
    text-align: center;

    .img-anchor {
        padding: 10px;
    }
}

.text {
    background-color: #fff;
    text-align: justify;
}

.text,
.media {
    padding: 0 20px 20px;
}

.text-title,
.text-type,
.text-programs,
.text-work,
.text-content {
    max-width: 600px;
}

.text-title,
.media-title {
    font-weight: 200;
    line-height: 1;
    padding: 20px 0;
}

.text-title {
    font-size: 64px;
}

.text-programs {
    padding: 20px 0;

    img {
        margin: 0 10px 0 0;
    }
}

.text-type {
    border-bottom: 1px solid nth($color-palette, 5);
    padding-bottom: 20px;
}

.text-work {
    border-bottom: 1px solid nth($color-palette, 5);
    margin: 0;
    padding: 0 0 20px 1em;
}

.text-content {
    padding-top: 20px;
}

.media-title {
    color: #fff;
    font-size: 32px;
    padding-bottom: 0;
}

.media-element {
    background-color: #000;
    margin: 20px 0 0;
    max-width: 600px;
    overflow: hidden;

    img {
        @include transition(transform);
    }

    &.click-focus img {
        transform: none !important;
    }

    &:focus img {
        transform: scale(1.2);
    }
}

.gallery-image-small {
    display: none !important;
}

.media-3d-model {
    background: url("/images/icons/sketchfab.svg") center no-repeat #000;
}

.media-video {
    background: url("/images/icons/vimeo-wordmark.svg") center no-repeat #000;
}

@media (max-width: 22.5em) {
    // 360px

    .gallery-image-small {
        display: block !important;
    }

    .gallery-image-big {
        display: none !important;
    }

}

@media (max-width: 40em) {
    // 640px

    .media-element img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    .media-3d-model,
    .media-video {
        padding-bottom: 56.25%;
        position: relative;

        iframe {
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

}

@media (max-width: 80em) {
    // 1280px

    .media {
        max-width: 600px;
    }

}

@media (min-width: 60em) {
    // 960px

    .media-element {
        margin: 20px 20px 0 0;
    }

}

@media (min-width: 80em) {
    // 1280px

    .media-content {
        width: calc(100% + 20px);
    }

    .media-element {
        float: left;
    }

}
