@import "mixins";
@import "variables";

//@media (hover: hover)
.hover {

    .project:active,
    .project:focus,
    .project:hover {
        z-index: 1;

        .project-overlay {
            opacity: 1;
        }

        .project-title,
        .project-subtitle {
            opacity: 1;
            top: 0;
        }

        .project-subtitle:before {
            transform: scaleX(1);
        }
    }

    .project-overlay {
        @include transition(opacity);
        height: 100%;
        opacity: 0;
        top: 0;
    }

    .project-title,
    .project-subtitle {
        opacity: 0;
        top: -.5em;
        transition: top $animation-duration * 2 $animation-function, opacity $animation-duration * 1.5 linear $animation-duration * .5;
    }

    .project-subtitle:before {
        @include transition(transform, $animation-duration * 2);
        transform: scaleX(0);
    }

    .additional-links {
        .img-anchor {
            @include transition(opacity);
            opacity: .5;
        }

        a:active,
        a:focus,
        a:hover {
            opacity: 1;
        }
    }

}
