// ---------------------------------------------------------------------------------------------------------------------
// This is free and unencumbered software released into the public domain.
//
// Anyone is free to copy, modify, publish, use, compile, sell, or distribute this software, either in source code form
// or as a compiled binary, for any purpose, commercial or non-commercial, and by any means.
//
// In jurisdictions that recognize copyright laws, the author or authors of this software dedicate any and all copyright
// interest in the software to the public domain. We make this dedication for the benefit of the public at large and to
// the detriment of our heirs and successors. We intend this dedication to be an overt act of relinquishment in
// perpetuity of all present and future rights to this software under copyright law.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//
// For more information, please refer to <http://unlicense.org/>
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Mobile styles for small devices.
//
// @author Richard Fussenegger <richard@fussenegger.info>
// @copyright Copyright (c) 2014-15 Richard Fussenegger
// @license http://unlicense.org/ PD
// ---------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "../mixins/transition";

@media (max-width: (960em / 16)) {

    .no-js .nav {
        height: $header-height;
        width: $header-height;
    }

    .menu,
    .menu-open,
    .menu-open:before,
    .menu-close,
    .menu-close:before,
    .menu-close:after {
        right: 0;
    }

    .menu-open,
    .menu-close {
        cursor: pointer;
    }

    $menu-toggle-height: 20px;
    $menu-toggle-top: ($header-height - $menu-toggle-height) / 2;
    $menu-open-line: $menu-toggle-height / 5;
    $menu-open-width: $menu-toggle-height + ($menu-open-line * 2);

    .menu-open {
        height: $header-height;
        width: $header-height;

        &:before,
        &:after {
            height: $menu-open-line;
            right: 24px; // Match logo margin.
            width: $menu-open-width;
        }

        &:before {
            background-color: nth($color-palette, 5);
            top: $menu-toggle-top + ($menu-toggle-height / 2.5);
        }

        &:after {
            border-bottom: $menu-open-line solid nth($color-palette, 5);
            border-top: $menu-open-line solid nth($color-palette, 5);
            height: $menu-toggle-height;
            top: $menu-toggle-top;
        }
    }

    .menu {
        @include transition(left);
        background-color: nth($color-palette, 5);
        bottom: 0;
        box-shadow: 0 0 1rem #000;
        color: nth($color-palette, 6);
        left: 100%;
        padding-top: ($header-height - ($font-size * $line-height)) / 4;
        position: fixed;
        top: 0;
        z-index: 99;

        a {
            color: #fff !important; // Override :active, :focus, :hover at once.
            outline-color: #fff !important;
        }

        &.open .menu-close {
            transform: scale(1);
        }
    }

    .menu-close {
        @include transition(transform, $animation-duration * 1.5);
        height: $header-height;
        top: 0;
        transform: scale(0);
        width: $header-height;

        &:before,
        &:after {
            background-color: #fff;
            height: 2px;
            margin: 38px 24px 0 0;
            width: 28px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .menu-item {
        display: block;
        padding: 0 4rem 0 2rem;

        span:before {
            background-color: #fff;
        }
    }

}

@media (max-width: (360em / 16)) {

    html,
    body {
        font-size: $font-size - 2;
    }

    .no-js .nav:hover .menu,
    .menu.open {
        left: 68px; // Keep the logo visible.
    }

}

@media (min-width: (360em / 16)) {

    .no-js .nav:hover .menu,
    .menu.open {
        left: 50%;
    }

}

@media (max-width: (640em / 16)) {

    .media-element img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    .media-video {
        padding-bottom: 56.25%;
        position: relative;

        iframe {
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

}
