@import "mixins";
@import "variables";

//@media (hover: none)
.no-hover {

    .project-overlay {
        bottom: 0;
        padding: 20px 0;
    }

    .project-tile {
        @include transition(transform);
    }

    .project:focus .project-tile {
        transform: scale(1.2);
    }

}
