// Default animation properties.
$animation-duration: .2s;
$animation-function: ease-in-out;

// Color palette, note that the order matches the one from the AI file.
$color-palette: (
    #910026,
    #7c0026,
    #610526,
    #430d27,
    #0d1127,
    #676162
);

// Name of the font in use.
$font-family: dosis;

// Default font size.
$font-size: 18px;

// Default line height.
$line-height: 1.42857143;

// The absolute height in pixels of the header.
$header-height: 75px;
