*               text=auto eol=lf

.editorconfig   text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
.jshintrc       text eol=lf
UNLICENSE       text eol=lf

*.cfg           text eol=lf
*.conf          text eol=lf
*.ejs           text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.scss          text eol=lf
*.txt           text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf

*.gif           binary
*.ico           binary
*.jpg           binary
*.pdf           binary diff
*.png           binary
*.woff          binary
*.woff2         binary

/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.jshintrc      export-ignore
/.scss-lint.yml export-ignore
/TODO.md        export-ignore
