// ---------------------------------------------------------------------------------------------------------------------
// This is free and unencumbered software released into the public domain.
//
// Anyone is free to copy, modify, publish, use, compile, sell, or distribute this software, either in source code form
// or as a compiled binary, for any purpose, commercial or non-commercial, and by any means.
//
// In jurisdictions that recognize copyright laws, the author or authors of this software dedicate any and all copyright
// interest in the software to the public domain. We make this dedication for the benefit of the public at large and to
// the detriment of our heirs and successors. We intend this dedication to be an overt act of relinquishment in
// perpetuity of all present and future rights to this software under copyright law.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//
// For more information, please refer to <http://unlicense.org/>
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Styles which only apply to gallery images in full-screen mode.
//
// @author Richard Fussenegger <richard@fussenegger.info>
// @copyright 2014 Richard Fussenegger
// @license http://unlicense.org/ Unlicense.
// ---------------------------------------------------------------------------------------------------------------------

@import "mixins/transition";

.hidden {
    display: none !important;
}

.full-screen-nav {
    background-color: nth($color-palette, 5);
    color: #fff;
    letter-spacing: 2px;
    line-height: 26px;
    padding: 1px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;

    a,
    b {
        display: inline-block;
        min-width: 26px;
    }

    a {
        color: #fff;

        &:active,
        &:focus,
        &:hover {
            color: nth($color-palette, 6);
        }
    }

    b {
        min-width: 60px;
    }
}

.full-screen-image {
    @include transition(opacity, $animation-duration * 2);
    background: center no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0;
    width: 100%;

    &.hidden {
        transition: none !important;
    }

    &.loaded {
        opacity: 1;
    }
}

:fullscreen:not(:root) {
    align-items: center !important;
    background-color: nth($color-palette, 5) !important;
    bottom: 0 !important;
    clip: auto !important;
    display: flex !important;
    height: auto !important;
    justify-content: center !important;
    left: 0 !important;
    margin: auto !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
    z-index: 2147483647 !important;
}
