@import "components/mixins";
@import "components/variables";

@include font-face($font-family, extralight, 200);
@include font-face($font-family, regular, 400);
@include font-face($font-family, bold, 700);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 320px;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: scroll; // Always show scrollbar in desktop browsers.
    -webkit-text-size-adjust: 100%;
}

html,
body {
    background-color: nth($color-palette, 5);
    font: normal $font-size#{"/"}$line-height $font-family, calibri, lucida grande, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

body {
    color: nth($color-palette, 5);
    height: 100%;
    margin: 0;
}

::selection {
    color: #fff;
    background: nth($color-palette, 1);
    text-shadow: none;
}

.abs-before-after:before,
.abs-before-after:after,
.abs-before:before,
.abs-after:after {
    content: "";
    position: absolute;
}

article,
header,
figcaption,
figure,
footer,
main,
nav,
section {
    display: block;
}

q {
    quotes: none;
}

a {
    background-color: transparent;
    color: nth($color-palette, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;

    &:active,
    &:hover,
    &.click-focus {
        outline: 0 !important; // Only use outlines with keyboard navigation.
    }

    &:focus {
        outline: 1px dotted #fff;
    }

    &:active,
    &:focus,
    &:hover {
        color: nth($color-palette, 4);
    }
}

.span-anchor:focus {
    outline-color: nth($color-palette, 4);
}

// We need the span child in order to increase the click area for touch devices.
.span-anchor span,
.text-content a {
    @include transition(color);
    position: relative;
}

.span-anchor span:before,
.text-content a:before {
    @include transition(transform);
    background-color: nth($color-palette, 4);
    bottom: -2px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    width: 100%;
}

.span-anchor:active span:before,
.span-anchor:focus span:before,
.span-anchor:hover span:before,
.text-content a:active:before,
.text-content a:focus:before,
.text-content a:hover:before {
    transform: scaleX(1);
}

// We use the same styles for all of these tags because our font does not support italics.
b,
em,
h1,
i,
strong {
    font-style: normal;
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

iframe,
img {
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    padding: 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p {
    padding-bottom: 10px;
}

.header {
    background-color: #f7f7f7;
    height: $header-height;
    line-height: $header-height;
}

.logo {
    color: nth($color-palette, 5) !important;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;

    img {
        margin-right: 12px;
    }

    &:focus {
        outline-color: nth($color-palette, 4);
    }
}

.nav {
    float: right;
    font-weight: bold;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-wip {

    &:before {
        color: #fff;
        content: "WiP";
        font-size: $font-size; // Keep font-size equal among all devices.
        font-weight: bold;
        left: 4px;
        top: 8px;
        transform: rotate(-45deg);
        z-index: 2;
    }

    &:after {
        border-color: nth($color-palette, 2) transparent transparent;
        border-style: solid;
        border-width: 60px 60px 0 0;
        height: 0;
        left: 0;
        top: 0;
        width: 0;
        z-index: 1;
    }

}

.program-icon {
    margin: 0 (24px / 4) (24px / 2);
}

@import "components/index";
@import "components/default";
@import "components/mobile";
@import "components/desktop";
@import "components/no-hover";
@import "components/hover";
@import "components/pager";
@import "components/full-screen";

.abs {
    position: absolute !important;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.hidden {
    display: none !important;
    transition: none !important;
}

hr {
    background-color: nth($color-palette, 6);
    border: 0;
    height: 1px;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

.img-anchor {
    display: inline-block;
}

.img-anchor:before {
    display: none;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.label {
    display: inline-block;
    min-width: 50px;
}

.rel {
    position: relative !important;
}

.abs-before-after,
.abs-before,
.abs-after {
    position: relative;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
