// ---------------------------------------------------------------------------------------------------------------------
// This is free and unencumbered software released into the public domain.
//
// Anyone is free to copy, modify, publish, use, compile, sell, or distribute this software, either in source code form
// or as a compiled binary, for any purpose, commercial or non-commercial, and by any means.
//
// In jurisdictions that recognize copyright laws, the author or authors of this software dedicate any and all copyright
// interest in the software to the public domain. We make this dedication for the benefit of the public at large and to
// the detriment of our heirs and successors. We intend this dedication to be an overt act of relinquishment in
// perpetuity of all present and future rights to this software under copyright law.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//
// For more information, please refer to <http://unlicense.org/>
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Main style file containing all rules.
//
// @author Richard Fussenegger <richard@fussenegger.info>
// @copyright 2014 Richard Fussenegger
// @license http://unlicense.org/ Unlicense.
// ---------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "mixins/font-face";
@import "mixins/transition";

@include font-face($font, light, 200);
@include font-face($font, regular, 400);

@include font-face($font-condensed, light, 200);
@include font-face($font-condensed, bold, 700);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body {
    background-color: $background;
    color: #666;
    font: normal 16px/1.42857143 $font, sans-serif;
    height: 100%;
    margin: 0;
}

article,
header,
figcaption,
figure,
footer,
main,
nav,
section {
    display: block;
}

.a,
a {
    @include transition(color);
    background-color: transparent;
    color: nth($color-palette, 1);
    position: relative;
    text-decoration: none;

    &:before {
        @include transition(transform);
        background-color: nth($color-palette, 4);
        bottom: -2px;
        content: "";
        height: 1px;
        position: absolute;
        transform: scaleX(0);
        width: 100%;
    }

    &:active,
    &:hover {
        outline: 0;
    }

    &:active,
    &:focus,
    &:hover {
        color: nth($color-palette, 4);
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
        transform: scaleX(1);
    }
}

b,
strong {
    font-weight: bold;
}

img {
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    margin-bottom: 10px;
}


// --------------------------------------------------------------------------------------------------------------------- Header


$header-height: 75px;
$header-logo-height: 32px;

.title {
    color: #fff;
    font-family: $font-condensed, sans-serif;
    margin-left: ($header-height - $header-logo-height) / 2;
}

header {
    background-color: #f7f7f7;
    box-shadow: 0 0 1rem $background;
    height: $header-height;
    left: 0;
    line-height: $header-height;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;

    .title {
        background: url("../images/initials/vector.svg") left center no-repeat;
        background-size: $header-logo-height;
        color: nth($color-palette, 5);
        float: left;
        font-size: $header-logo-height / 2;
        padding-left: $header-logo-height * 1.2;
        text-transform: uppercase;
    }

    .content {
        float: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            padding: 0 $header-height / 3;
        }

        li:last-child {
            padding-right: $header-height / 3 * 2;
        }

        // TODO: The click area for the anchors is too small, especially on touch devices.
    }
}


// --------------------------------------------------------------------------------------------------------------------- Main


main {
    padding-top: $header-height;

    > .title {
        font-size: 64px;
        font-weight: 200;
    }
}


// --------------------------------------------------------------------------------------------------------------------- Index


.gallery {
    display: flex;
    flex-wrap: wrap;
}

.project {
    @include transition(box-shadow);
    color: #fff !important; // Overwrite :active, :focus, and :hover at once.
    display: block;
    flex: 0 0 100%;
    line-height: 1;
    position: relative;

    article {
        overflow: hidden;
    }

    .overlay {
        @include transition(opacity);
        align-items: center;
        background-color: rgba($background, .8);
        display: flex;
        flex-flow: column;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    h2,
    p {
        opacity: 0;
        position: relative;
        top: -.5em;
        transition: top $animation-duration * 2 $animation-function, opacity $animation-duration * 1.5 linear $animation-duration * .5;
    }

    p {
        font-size: 12px;
        font-weight: 200;
        line-height: 1.42857143;
        margin: 2em 0 0;
        text-transform: lowercase;
        width: 75%;

        &:before {
            @include transition(transform, $animation-duration * 2);
            background-color: rgba(255, 255, 255, .5);
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -1em;
            transform: scaleX(0);
            width: 100%;
        }
    }

    img {
        @include transition(transform);
        transform: scale(1);
    }

    &:active,
    &:focus,
    &:hover {
        box-shadow: 0 0 1rem $background;
        z-index: 1;

        .overlay {
            opacity: 1;
        }

        h2,
        p {
            opacity: 1;
            top: 0;
        }

        p:before {
            transform: scaleX(1);
        }

        img {
            transform: scale(1.2);
        }
    }
}

@for $i from 2 through 16 {
    @media (min-width: 320px * $i) {
        .gallery .project {
            flex: 0 0 (100% / $i);
        }
    }
}

// --------------------------------------------------------------------------------------------------------------------- Utility

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.img-anchor:before {
    display: none;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
