// ---------------------------------------------------------------------------------------------------------------------
// This is free and unencumbered software released into the public domain.
//
// Anyone is free to copy, modify, publish, use, compile, sell, or distribute this software, either in source code form
// or as a compiled binary, for any purpose, commercial or non-commercial, and by any means.
//
// In jurisdictions that recognize copyright laws, the author or authors of this software dedicate any and all copyright
// interest in the software to the public domain. We make this dedication for the benefit of the public at large and to
// the detriment of our heirs and successors. We intend this dedication to be an overt act of relinquishment in
// perpetuity of all present and future rights to this software under copyright law.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//
// For more information, please refer to <http://unlicense.org/>
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Main style file containing all rules.
//
// @author Richard Fussenegger <richard@fussenegger.info>
// @copyright 2014 Richard Fussenegger
// @license http://unlicense.org/ Unlicense.
// ---------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "mixins/font-face";
@import "mixins/transition";

@include font-face($font-family, extralight, 200);
@include font-face($font-family, bold, 700);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    height: 100%;
}

body {
    align-items: center;
    background-color: #fff;
    color: #666;
    display: flex;
    font: 200 24px/1.42857143 $font-family, sans-serif;
    height: 100%;
    justify-content: center;
    margin: 0;
}

header,
main {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    @include transition(color);
    background-color: transparent;
    color: nth($color-palette, 1);
    position: relative;
    text-decoration: none;

    &:before {
        @include transition(transform);
        background-color: nth($color-palette, 4);
        bottom: -2px;
        content: "";
        height: 1px;
        position: absolute;
        transform: scaleX(0);
        width: 100%;
    }

    &:active,
    &:hover {
        outline: 0;
    }

    &:active,
    &:focus,
    &:hover {
        color: nth($color-palette, 4);
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
        transform: scaleX(1);
    }
}

em,
h1,
strong {
    font-style: normal;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

h1 {
    background: url("../images/logo/vector.svg") no-repeat;
    background-size: 32px 47px; // Necessary for IE!
    color: nth($color-palette, 5);
    font-size: 18px;
    line-height: 47px;
    margin: 0 0 14px 24px;
    padding-left: 44px;
    text-transform: uppercase;
}

main {
    background-color: nth($color-palette, 5);
    color: #fff;
    padding: 24px;
}
