
// Color palette, note that the order matches the one from the AI file.
$color-palette: (
    #910026,
    #7c0026,
    #610526,
    #430d27,
    #0d1127
);

// Duration for animations.
$animation-duration: .2s;

// Offset for animations on the index page.
$index-animation-offset: -20px;
