<% include partials/head %>
<h1 property="title"><%= page.title %></h1>
<div><%- contents %></div>
<form action="/contact" method="post">
    <p><label for="name">Name</label> <input name="name" placeholder="Your name …" type="text"></p>
    <p><label for="email">Email</label> <input name="email" placeholder="Your email …" type="email"></p>
    <p><label for="message">Message</label> <textarea name="message" placeholder="Your message …"></textarea></p>
    <p class="form-actions"><input type="submit" value="Send"></p>
</form>
<% include partials/foot %>
