<% var total = (page.gallery ? page.getGalleryImages().length : 0) + (page.screenshots ? page.getScreenshots().length : 0); %>
<div id="full-screen" class="abs-before sr-only">
    <div class="full-screen-nav">
        <% if (total > 1) { %>
            <a id="full-screen-previous" class="full-screen-pager" href="#" title="Go to the previous image.">
                <span aria-hidden="true" role="presentation">◀</span>
            </a>
            <b class="full-screen-position">
                <span id="full-screen-current"></span>
                /
                <span id="full-screen-total"><%= total %></span>
            </b>
            <a id="full-screen-next" class="full-screen-pager" href="#" title="Go to the next image.">
                <span aria-hidden="true" role="presentation">▶</span>
            </a>
        <% } %>
        <a id="full-screen-close" href="#" title="Exit full-screen mode."><span aria-hidden="true" role="presentation">✖</span></a>
    </div>
</div>
