<section class="media">
    <h2 class="media-title">Screenshots</h2>
    <div class="clearfix media-content">
        <% page.getScreenshots().forEach(function (image, index, images) { %>
            <% include gallery-image.ejs %>
        <% }); %>
    </div>
</section>
