<div class="media-element media-video">
  <noscript>
    <iframe src="//player.vimeo.com/video/<%= id %>" height="337.5" webkitallowfullscreen mozallowfullscreen allowfullscreen width="600"></iframe>
  </noscript>
  <iframe data-src="//player.vimeo.com/video/<%= id %>" height="337.5" webkitallowfullscreen mozallowfullscreen allowfullscreen width="600"></iframe>
</div>
